{% extends "base.html" %}

{% block title %}News Summaries{% endblock %}
{% block heading %}Latest News Summaries{% endblock %}

{% block content %}
<ul class="list-group mt-4">
    {% for article in news %}
        <li class="list-group-item card">
            {% if article.image %}
                <img src="{{ article.image }}" alt="News Image" class="article-image">
            {% endif %}
            <a href="{{ article.link }}" class="article-title">{{ article.title }}</a>
            <p class="source">Source: {{ article.source }}</p>
            <p class="article-summary">{{ article.summary }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
